

/*h1 {
	color: green ;
	font-family: arial, verdana,sans-serif;
	font-size: 40px;
	font-variant: small-caps;
	font-style: italic;
}

p {
	font-family: georgia,serif;
	line-height: 30px;
}
*/

body {
	font: italic normal bold 16px/18px helvetica, arial, sans-serif;
}