* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}


/* Navbar */

nav {
  display: flex;
  background-color: pink;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: white;
  height: 50px;
  align-items: center;
}

nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
color: black;
}


/* Hamburger Menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 26px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.7s;
}


/* Hmaburger Menu Animation */

.menu-toggle span:nth-child(2) {
transform-origin: 0 0;
}

.menu-toggle span:last-child {
transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: greenyellow;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child {
  background-color: greenyellow;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3 ) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive | Breakpoint */

/* Ukuran Tablet */

@media screen and (max-width: 768px) {

  nav ul {
width: 50%;
  }

}

/* Ukuran Mobile */

@media screen and (max-width: 576px) {
.menu-toggle {
  display: flex;
}
  nav ul {
    /* display: none; */
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

}